.page {
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  
  &__body {
    margin: 0;
  }

  &__section {
    margin-bottom: 64px;

    @include onDesktop {
      margin-bottom: 104px;
    }

  &__section-flex {
    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  }

  &__section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
  
    text-align: center;
    letter-spacing: -1.5px;

    color: #000000;

    &::after {
      content: "";
      display: block;
      background-image: url(../images/crown.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 23px;
      height: 16px;
      margin: 4px auto 0px;
    }
  }

  &__section-flex{
    @include onDesktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
